<div id="<%= dom_id schedule %>">
  <p>
    <strong>Start on:</strong>
    <%= schedule.start_on %>
  </p>
  <p>
    <strong>Note:</strong>
    <%= schedule.note %>
  </p>
  <p>
    <strong>Created At:</strong>
    <%= schedule.created_at %>
  </p>
</div>
